annotated-types 
anyio 
certifi==2025.1.31
charset-normalizer==3.4.1
click 
editdistance==0.8.1
epitran==1.26.0
et_xmlfile==2.0.0
fastapi 
gTTS==2.5.4
h11
idna
jamo==0.4.1
joblib==1.4.2
marisa-trie==1.2.1
munkres==1.1.4
nltk==3.9.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
panphon==0.21.2
pykakasi
indic_transliteration
pydantic 
pydantic_core
pyopenjtalk==0.4.0
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sniffio
starlette 
tqdm==4.67.1
typing_extensions 
tzdata==2025.1
unicodecsv==0.14.1
urllib3==2.3.0
uvicorn 
wheel==0.45.1
boto3
dotenv
